:root {
    --ion-color-primary: rgb(0,122,255);
    --ion-color-primary-rgb: 0,122,255;
    --ion-background-color: #efeff4;
    --ion-item-background: #fff;
}
.ios {
    --ion-color-step-50: rgb(247, 247, 248);
}

.md {
    --ion-toolbar-background: #fff;
}
body {
    --ion-toolbar-background: #fff;
    background-color: #fff;
}

body.win32 {
    --ion-color-primary: rgb(0, 120, 212);
    --ion-color-primary-rgb: 0, 120, 212;
    border: 1px solid var(--ion-color-primary)
}

body.win32 clt-detail {
    --ion-background-color: #fff;
}

body {
    user-select: none;
    -webkit-user-select: none;
}

body>.titlebar {
    display: none;
}

ion-menu {
    --width: 100%; 
}

ion-split-pane {
    --side-min-width: 320px;
    --side-max-width: 320px;
    --side-width: 320px;
}

ion-toolbar.ios {
    --border-color: rgba(0, 0, 0, 0.3);
}

ion-content.ios ion-header:not([slot=fixed])>ion-toolbar {
    --background: var(--ion-background-color);
}

#navigation ion-list.ios {
    margin-bottom: calc(10px + var(--ion-safe-area-bottom));
}

ion-list.md {
    background-color: inherit;
}


ion-segment.ios {
    --background: white;
}

ion-segment-button {
    --indicator-color: var(--ion-color-primary); 
}

ion-segment-button.ios {
    --color-checked: white;
    --padding-end: 40px;
    --padding-start: 40px;
}

ion-popover.all {
    --box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}

body.win32 ion-popover.all {
    box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
}

body.win32 clt-modal {
    border: 1px solid var(--ion-color-primary);
}

#detail.ios {
    --padding-top: 44px;
}
#detail.md {
    --padding-top: 56px;
}

/*@media screen and (min-width: 767px) {
    ion-split-pane {
        --side-min-width: 100%;
        --side-max-width: 100%;
        --side-width: 100%;
    }
}*/